@using XE908.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<XE908User> SignInManager
@inject UserManager<XE908User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - XE908</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/XE908.styles.css" asp-append-version="true"/>
    <base href="~/" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">XE908</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var currentPath = Context.Request.Path.ToString();
                        
                        if (await UserManager.IsInRoleAsync(UserManager.Users.First(u=>u.Id == UserManager.GetUserId(User)), "Administrator"))
                        {
                            if (!currentPath.Contains("/Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Reservation/Index">Reservations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
                                </li>
                            }
                            else
                            {
                                switch (currentPath)
                            {
                                case "/Admin/Roles":
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Roles/CreateRoles">Create</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Roles/UserRoles">UserRoles</a>
                                    </li>
                                    break;
                                case "/Admin/Roles/CreateRoles":
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Roles/Index">Roles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Roles/UserRoles">UserRoles</a>
                                    </li>
                                    break;
                                case "/Admin/Roles/UserRoles":
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Roles/Index">Roles</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Roles/CreateRoles">Create Roles</a>
                                        </li>
                                        break;
                                case "/Admin/ConferenceRooms":
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/ConferenceRooms/CreateConferenceRoom">Create Room</a>
                                    </li>
                                    break;
                                case "/Admin/Controllers":
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Controllers/CreateController">Create Controller</a>
                                    </li>
                                    break;
                                    
                                default:
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Roles/Index">Roles</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/ConferenceRooms/Index">ConferenceRooms</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Controllers/Index">Controllers</a>
                                        </li>
                                        break;
                            }
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Reservation/Index">Reservations</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - DataCorp S.A. XE908 - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="_framework/blazor.server.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>